.animal-card-lead {
  color: var(--cerulean);
  font-weight: bolder;
  margin: auto;
  width: 50%;
}

.animal-card,
.additional-info-card {
  background-color: var(--verdigris);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  flex: 1 1 300px;
  max-width: 100%; /* Ensure full width in grid layout */
  height: 100%;
}

.animal-image,
.animal-card img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.1em;
}

.animal-info-card {
  margin-top: 1em;
  background-color: var(--grim-reaper);
}

.info-box {
  padding: 1em;
  background-color: #b3e0de;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 1em;
}

.figure-img {
  background-color: #fff;
  padding: 0.1em;
}

.interesting-facts {
  background-color: var(--bittersweet);
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.read-post {
  text-align: center;
  margin-top: auto;
}

.read-post a {
  background-color: var(--cerulean);
  border: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.header-text {
  flex-basis: 100%;
  margin: 1em;
}
