@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --cerulean: #4281a4ff;
  --verdigris: #48a9a6ff;
  --davys-gray: #50514fff;
  --bittersweet: #f25f5cff;
  --naples-yellow: #ffe066ff;
  --indian-red: #c1666bff;
  --ecru: #f3eac2;
  --grim-reaper: #0d163a;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--davys-gray);
  margin: 0;
  padding: 0;
}

.rubik-headline-text {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--naples-yellow);
  text-shadow: var(--davys-gray);
}

.rubik-dark-text {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  color: var(--grim-reaper);
  text-shadow: var(--davys-gray);
}

.headline-row {
  background-color: var(--grim-reaper);
  color: var(--naples-yellow);
  text-align: center;
  padding: 2em 0;
}
