@import url('design.css');
@import url('cards.css');

.navbar {
  background-color: var(--cerulean);
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

nav button {
  padding-left: 0.5em;
}

.navbar-brand {
  color: var(--naples-yellow);
}

.headline-row {
  background-color: var(--davys-gray);
  width: 100%;
  padding: 1em;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em auto;
  max-width: 1200px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

footer {
  background-color: var(--davys-gray);
  color: var(--naples-yellow);
}

.subscribe-section {
  background-color: var(--cerulean);
  padding-bottom: 1em;
}

.subscribe {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}

.text-bold {
  font-weight: bold;
}

.read-post {
  text-align: center;
  margin-top: auto;
}

.read-post .btn-info {
  background-color: var(--cerulean);
  border: none;
}

.subscribe-section {
  background-color: var(--cerulean);
  padding: 2em 0;
  text-align: center;
}

.subscribe {
  max-width: 500px;
  margin: auto;
}

.footer {
  background-color: var(--davys-gray);
  padding: 2em 0;
  color: var(--naples-yellow);
  text-align: center;
}

.footer-social {
  background-color: #0d163a;
  color: var(--naples-yellow);
  text-align: center;
  padding: 2em 0;
}

@media (max-width: 768px) {
  .animal-card {
    max-width: 100%;
  }
}
