/* Five-Color Scheme */
:root {
  --cerulean: #4281a4ff;
  --verdigris: #48a9a6ff;
  --timberwolf: #e4dfdaff;
  --ecru: #d4b483ff;
  --indian-red: #c1666bff;
}

.rubik-header-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.animal-card {
  box-shadow: .75em .75em 1px rgba(0, 0, 0, 0.1);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  max-width: 400px;
}

.info-box {
  flex-basis: 100%;
  padding: 1em;
  box-sizing: border-box;
  max-width: 300px;
}

.animal-card, .info-box {
  border: 1px solid #ccc; 
  margin: 1em 0;
}

.animal-image {
  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
}

.animal-image, .info-box, .header-text {
  flex-basis: 100%;
  margin: 1em;
}

.text-bold {
  font-weight: bold;
}

.info-box ul {
  list-style: none;
  padding-left: 0;
}

.animal-card {
  position: relative;
  margin: 0.5em;
}

.animal-card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.subscribe {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}

