@import url('normalize.css');
@import url('index.css');
@import url('design.css');
@import url('cards.css');

.posts {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.avatar {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
}


